<meta charset="utf-8">
<meta
name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="{{asset('main/css/bootstrap-reboot.min.css')}}">
<link rel="stylesheet" href="{{asset('main/css/bootstrap-grid.min.css')}}">
<link rel="stylesheet" href="{{asset('main/css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('main/css/slider-radio.css')}}">
<link rel="stylesheet" href="{{asset('main/css/select2.min.css')}}">
<link rel="stylesheet" href="{{asset('main/css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{asset('main/css/plyr.css')}}">
<link
rel="stylesheet" href="{{asset('main/css/main.css')}}">

<!-- Favicons -->
<link rel="icon" type="image/png" href="{{asset('main/img/cinema-icon.png')}}" sizes="32x32">
<link rel="apple-touch-icon" href="{{asset('main/img/cinema-icon.png')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitry Volkov">
<title>Mines – Actor & Movie Infomation</title>
