{% extends "admin/master.html.twig" %}
    {% block body %}
        <div class="card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h2 class="h4 pd-20">View Message</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <h5 class="text-center h5 mb-0">{{detail.subject}}</h5>
                        <p class="text-center text-muted font-14"></p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Infomation</h5>
                            <ul>
                                <li>
                                    <span>Name:</span>
                                    {{detail.Name}}
                                </li>
                                <li>
                                    <span>Email</span>
                                    {{detail.email}}
                                </li>
                                <li>
                                    <span>Time</span>
                                    {{detail.time|date('H:i')}}
                                </li>
                                <li>
                                    <span>Date</span>
                                    {{detail.time|date('Y-m-d')}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="product-detail-desc pd-20 card-box height-100-p">
                        <h4 class="mb-20 pt-20">Message</h4>
                        {{ detail.message|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    